version: "3.7"
services:
    mongodb:
        image: docker.io/bitnami/mongodb:4.4
        env_file: ./.env
        ports:
            - $mongodbLocalPort:$mongodbDockerPort
        volumes:
            - "mongodb_data:/bitnami/mongodb"
    bot:
        container_name: phantomknight
        image: phantomknight/phantomknight:latest
        restart: unless-stopped
        volumes:
            - phantomknight-logs:/app/logs
        env_file:
            - .env
        environment:
            - token=$token
            - mongodbUrl=$mongodbUrl
            - clientId=$clientId
            - guildId=$guildId
            - topggtoken= $topggtoken
        stdin_open: true
        tty: true
        ports:
            - "3001:3001"
        depends_on:
            - mongodb
        networks:
            - backend
    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
            - certbot-etc:/etc/letsencrypt
            - certbot-var:/var/lib/letsencrypt
            - web-root:/var/www/html
    depends_on:
      - webserver
    command: certonly --webroot --webroot-path=/var/www/html --email birdie@vynk.me --agree-tos --no-eff-email --staging -d kek.phantomknight.tk 
volumes:
    certbot-etc:
    certbot-var:
    web-root:
    driver: local
    driver_opts:
      type: none
      device: /
      o: bind
    phantomknight-logs:
    mongodb_data:
        driver: local

networks:
    backend:
        driver: bridge
