@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@500&family=Oswald&family=Pacifico&family=Lobster&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #000000;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: skyblue;
}

* {
    box-sizing: border-box;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#nprogress .bar {
    background: linear-gradient(
        to right,
        #12c2e9,
        #c779d0,
        #4bc0c8,
        #12c2e9,
        #c471ed,
        #f64f59
    ) !important;
}
