.mainContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.glassMorph {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}
.contentContainer {
    font-family: Bungee;
    padding: 20px;
    border-top: 2px solid #47c465;
    border-bottom: 2px solid #00deff;
    background-image: linear-gradient(#47c465, #00deff),
        linear-gradient(#47c465, #00deff);
    background-size: 2px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    max-width: 520px;
    text-align: center;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & button {
        background: #7f7fd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #7f7fd5,
            #86a8e7,
            #91eae4
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #7f7fd5,
            #86a8e7,
            #91eae4
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        margin-top: 1rem;
        font-family: Bungee;
        color:black;
        // word-spacing: 2px;
        font-size: 1rem;
    }
}
