name: Docker PR CI

on:
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the container
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)